

.container{
  margin: 0 auto;
  background-color: rgb(217, 0, 0);
  width: 800px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  
}
form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-left: 20px;
  color: white;
}
p{
  padding-left: 20px;
  color: white;
}
h1{
  color: rgb(245, 245, 4);
}
input{
  height:50px ;
}
select{
  height: 50px;
}

button{
  background-color: rgba(215, 215, 62, 0.874);
}